
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
}

.score-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}

.score-item:nth-child(1) {
    background-color: #ffd700;
    font-weight: bold;
}

.score-item:nth-child(2) {
    background-color: #c0c0c0;
}

.score-item:nth-child(3) {
    background-color: #cd7f32;
}

.score-item:nth-child(4) {
  background-color: #91bbad6c;
}

.score-item:nth-child(5) {
  background-color: #91bbad6c;
}