:root {
  --bg-color: #1a1a1a;
  --text-color: #e0e0e0;
  --primary-color: #5e091d;
  --secondary-color: #2c3e50;
  --accent-color: #e74c3c;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  padding: 1rem 0;
  flex: 0 30px;
}

